
.App {
  flex: 1;
  height: 100vh;
}
.selectMinorClass {
  font-size: 24pt;
  height: 6vh;
  top: 10vh;
  left: 5vw;
  position: absolute;
}
.optionMinorClass {
	background-color: white;
	padding: 2vw;
	margin: 1vw;
}
.chart {
  top: 0;
  left: 10vw;
  position: absolute;
  height: 100vh;
  width: 100vw;
}